.HowItWorkCardDiv{
    width: 237px;
    min-height: 191px;
    border: 1px solid white;
    padding: 35px 25px 35px 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    span{
        border: 1px solid #fff;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h4{
        font-size: 18px;
        font-weight: 500;
    }
    p{
        font-size: 14px;
        font-weight: 300;
    }
}