nav {
    background-color: $secondary;
    color: white;
    font-size: 18px;
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    @include bigScreen {
        font-size: 16px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 88px;
        width: 95%;
        margin: auto;
        max-width: 1274.5px;
        @include bigScreen {
            height: 70px;
        }

        @include largeScreen{
            height: 58px;
            width: 90%;
        }

        .nav_logo {
            width: 201px;

            @include bigScreen {
                width: 129px;
            }

            img {
                width: 100%;
            }
        }

        .nav_links {
            ul {
                display: flex;
                gap: 30px;

                li {
                    cursor: pointer;
                    position: relative;

                    &:hover {
                        color: $accent;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            border-bottom: 2px solid $accent;
                            width: 50%;
                        }
                    }


                }

                .active_navLink {
                    position: relative;
                    color: $accent;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        left: 0;
                        border-bottom: 2px solid $accent;
                        width: 50%;
                    }
                }


            }

            @include largeScreen {
                display: none;
            }
        }

        .nav_button {
            display: flex;
            align-items: center;
            gap: 25px;

            .login_btn {
                background: transparent;
                color: white;
                font-size: 18px;

                @include bigScreen {
                    font-size: 16px;
                }

                @include largeScreen {
                    display: none;
                }
            }

            .getStarted_btn {
                background-color: $accent;
                color: white;
                padding: 15px;
                border-radius: 8px;

                @include bigScreen {
                    font-size: 16px;
                    padding: 10px 15px;
                }

                @include largeScreen {
                    display: none;
                }
            }

            .mobilemenu {
                width: 24px;

                @media (min-width: 992px) {
                    display: none;
                }
            }
        }
    }

    .mobile_navbar {
        background-color: $secondary;
        color: white;
        width: 100%;
        z-index: 2;

        ul {

            border-top: 1px solid white;

            li {
                cursor: pointer;
                text-align: center;
                width: 100%;
                padding: 15px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                transition: background-color .1s;

            }

            :hover {
                background-color: $accent;
            }

        }

        .login_btn {
            border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        }

        button {
            width: 100%;
            background-color: $accent;
            color: white;
            padding: 15px;
            font-size: 18px;

        }
    }
}



a:link {
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color: $accent;
}